[submodule "submodules/libsuperuser"]
	path = submodules/libsuperuser
	url = https://github.com/yongce/libsuperuser.git
[submodule "submodules/AndroidLib"]
	path = submodules/AndroidLib
	url = https://github.com/yongce/AndroidLib.git
