<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycdev.android.trafficanalyzer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- SuperSu -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:theme="@android:style/Theme.Holo"
        android:name="me.ycdev.android.trafficanalyzer.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="me.ycdev.android.trafficanalyzer.LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.ycdev.android.trafficanalyzer.AppTrafficUsageActivity"
            android:label="@string/usage_title" />
    </application>

</manifest>